.place__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  max-width: 100%;
  margin: 0 0 25px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place__paragraph {
    margin: 25px 0 0;
  }
}
