.footer {
  max-width: 250px;
  padding: 57px 0 24px;
  margin: 0 auto;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 38px 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding: 5px 0 25px;
  }
}
