.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0 34px;
  border: 2px solid red;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__tagline {
  margin-top: 22px;
  max-width: 254.84px;
  height: 14.94px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
    align-items: center;
  }

  .header__logo {
    max-width: 30.17px;
    height: 32px;
  }

  .header__tagline {
    width: 254.84px;
    height: 14.09px;
    margin-top: 20.98px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
    /* max-width: 60%; */
    margin: auto;
  }

  .header__logo {
    width: 23.69px;
    height: 23.77px;
  }

  .header__tagline {
    width: 188.62px;
    height: 11.1px;
    margin-top: 16.53px;
  }
}
