.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0 34px;
  /* border: 2px solid red; */
}

.header__logo {
  max-width: 32px;
  max-height: 32px;
  margin: 0 auto;
}

.header__tagline {
  margin: 22px 0 0;
  max-width: 254.84px;
  max-height: 14.09px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 0 33px;
    max-width: 254px;
  }

  .header__logo {
    max-width: 32px;
    max-height: 30.17px;
  }

  .header__tagline {
    margin: 20.98px 0 0;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 20px 0 34px;
    max-width: 188px;
    margin: 0 auto;
  }

  .header__logo {
    max-width: 23.69px;
    max-height: 23.77px;
  }

  .header__tagline {
    width: 188.62px;
    height: 11.1px;
    margin: 16.53px 0 0;
  }
}
