.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__tagline {
  /* color: #fff; */
  margin-top: 22px;
  width: 254.84px;
  height: 14.94px;
  /* Exportar el tagline como vsg */
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }

  .header__logo {
    width: 32px;
    height: 30.17px;
  }

  .header__tagline {
    width: 254.84px;
    height: 14.09px;
    margin-top: 20.98px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    width: 23.69px;
    height: 23.77px;
  }

  .header__tagline {
    width: 188.62px;
    height: 11.1px;
    margin-top: 16.53px;
  }
}
