.content__lead {
  padding: 57px 0 40px;
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 73%;
  margin: 0 auto;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 73%;
  margin: 32px auto 64px;
}

.lead__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 530px;
    margin: 0 auto 25px;
  }

  .lead__subtitle {
    max-width: 720px;
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    padding: 30px 0 0;
  }

  .lead__title {
    max-width: 100%;
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 100%;
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
}
