.lead {
  padding: 57px 0 40px;
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 73%;
  margin: 0 auto;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 73%;
  margin: 32px auto 64px;
}

.lead__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.intro {
  max-width: 830px;
  padding: 35px 0px 50px 148px;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  max-width: 100%;
  margin: 0 auto;
}

.intro__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.intro__text--first {
  font-size: 24px;
  line-height: 1.4;
  max-width: 89%;
  margin: 40 0 0;
}

.intro__text--second {
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
  max-width: 89%;
  margin: 10px 0 0;
}

.intro__text--third {
  font-size: 16px;
  line-height: 163%;
  max-width: 87%;
  margin: 32px 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 530px;
    margin: 0 auto 25px;
  }

  .lead__subtitle {
    max-width: 720px;
    margin: 0 0 30px;
  }

  .intro {
    max-width: 720px;
    padding: 33px 0 50px 24px;
  }

  .intro__title {
    max-width: 98%;
    font-size: 45px;
    line-height: 1.1;
    letter-spacing: 0%;
    margin: 0 auto 25px;
  }

  .intro__text--first {
    max-width: 100%;
    margin: 25px auto 0;
  }

  .intro__text--second {
    max-width: 100%;
    margin: 0 auto;
  }

  .intro__text--third {
    max-width: 100%;
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    padding: 30px 0 0;
  }

  .lead__title {
    max-width: 100%;
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 100%;
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }

  .intro {
    max-width: 288px;
    padding: 64px 0 26px 16px;
  }

  .intro__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 1.1;
    margin: 0 0 40px;
  }

  .intro__text--first {
    max-width: 100%;
    font-size: 24px;
    line-height: 1.25;
    margin: 0 0 40px;
  }
}
