.main {
  color: #ffffff;
}

.main__lead {
  width: 984px;
  height: 983px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.lead__title {
  font-family: Inter;
  font-weight: 900;
  font-weight: bold;
  font-size: 96px;
  /* leading-trim: NONE; */
  line-height: 100px;
  /* letter-spacing: 0%; */
  text-align: center;
  width: 720px;
  height: 200px;
  margin-top: 97.6px;
  margin-bottom: 0px;
}

.lead__subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  /* leading-trim: NONE; */
  line-height: 36px;
  /* letter-spacing: 0%; */
  text-align: center;
  width: 720px;
  height: 72px;
  margin-top: 32px;
}

.lead__image {
  width: 984px;
  height: 615px;
}
