.main {
  color: #ffffff;
}

.main__lead {
  max-width: 983px;
  max-height: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 96px;
  /* leading-trim: NONE; */
  line-height: 100px;
  /* letter-spacing: 0%; */
  text-align: center;
  width: 720px;
  height: 200px;
  margin-top: 91.06px;
  margin-bottom: 0px;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  /* leading-trim: NONE; */
  line-height: 1.2;
  /* letter-spacing: 0%; */
  text-align: center;
  max-width: 720px;
  max-height: 72px;
  margin-top: 32px;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin-top: 64px;
}

.main__intro {
}

.intro__title {
}

.intro__text {
}

@media screen and (max-width: 1024px) {
  .main__lead {
    width: 530px;
    height: 158px;
  }

  .lead__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 75px;
    /* leading-trim: NONE; */
    line-height: 1;
    /* letter-spacing: 0%; */
    text-align: center;
    width: 530px;
    height: 158px;
    margin-top: 90px;
  }

  .lead__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 30px;
    /* leading-trim: NONE; */
    line-height: 1.2;
    /* letter-spacing: 0%; */
    text-align: center;
    width: 720px;
    height: 72px;
    margin-top: 25px;
  }

  .lead__image {
    width: 768px;
    height: 480px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 40px;
    /* leading-trim: NONE; */
    line-height: 1.1;
    /* letter-spacing: 0%; */
    text-align: center;
    margin-top: 50px;
    width: 228px;
    height: 88px;
  }

  .lead__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* leading-trim: NONE; */
    line-height: 1.2px;
    /* letter-spacing: 0%; */
    text-align: center;
    width: 228px;
    height: 40px;
    margin-top: 16px;
  }

  .lead__image {
    width: 320px;
    height: 200px;
    margin-top: 40px;
  }
}
