.main {
  color: #ffffff;
  margin-top: 91.06px;
}

.main__lead {
  max-width: 983px;
  max-height: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 96px;
  /* leading-trim: NONE; */
  line-height: 100px;
  /* letter-spacing: 0%; */
  text-align: center;
  width: 720px;
  height: 200px;
  margin-top: 97.6px;
  margin-bottom: 0px;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  /* leading-trim: NONE; */
  line-height: 1.2;
  /* letter-spacing: 0%; */
  text-align: center;
  max-width: 720px;
  max-height: 72px;
  margin-top: 32px;
}

.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .main__lead {
    width: 530px;
    height: 158px;
    margin-top: 90px;
  }

  .lead__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 75px;
    /* leading-trim: NONE; */
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    width: 530px;
    height: 158px;
  }
}
