.lead {
  padding: 57px 0 40px;
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 73%;
  margin: 0 auto;
}

.lead__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 73%;
  margin: 32px auto 64px;
}

.lead__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.intro {
  max-width: 830px;
  padding: 52px 0px 50px 148px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 100%;
}

.intro__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* text-align: left; */
}

.intro__text--first {
  font-size: 24px;
  line-height: 1.4;
  max-width: 89%;
  margin: 40 0 0;
}

.intro__text--second {
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
  max-width: 89%;
  margin: 10px 0 0;
}

.intro__text--third {
  font-size: 16px;
  line-height: 163%;
  max-width: 87%;
  margin: 32px 0 0;
}

.footer {
  margin: 42px auto 0;
  padding-bottom: 24px;
  max-width: 250px;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .main__lead {
    width: 530px;
    height: 158px;
  }

  .lead__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 75px;
    line-height: 1;
    text-align: center;
    width: 530px;
    height: 158px;
    margin-top: 90px;
  }

  .lead__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    width: 720px;
    height: 72px;
    margin-top: 25px;
  }

  .lead__image {
    width: 768px;
    height: 480px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-top: 50px;
    width: 228px;
    height: 88px;
  }

  .lead__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2px;
    text-align: center;
    width: 228px;
    height: 40px;
    margin-top: 16px;
  }

  .lead__image {
    width: 320px;
    height: 200px;
    margin-top: 40px;
  }
}
