body {
  background-color: #2a2c2f;
}

.page {
  font-family: "Inter";
  max-width: 1280px;
  margin: auto;
}

/* @media screen and (max-width: 544px) {
  .page {
    width: 100%;
    max-width: 90%;
  }
} */
