.photo-grid {
  padding: 68px 0 30px;
  margin: 0 auto;
  max-width: 93%;
  max-height: 442px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 94%;
    padding: 64px auto auto;
  }
}
