.photo-grid {
  padding: 68px 0 30px;
  margin: 0 auto;
  max-width: 93%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 94%;
    padding: 14px 0 30px;
  }

  .photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    gap: 12px;
    max-width: 90%;
    padding: 12px 0 10px;
  }

  .photo-grid__item {
    box-shadow: none;
  }
}
