.places {
  max-width: 987px;
  padding: 62px 0 33px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    padding: 58px 0 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 100%;
    padding: 52px 0 10px;
  }
}
