.places {
  max-width: 987px;
  padding: 62px 0 33px;
  margin: 0 auto;
}

.places__place {
}

.place__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 460px;
  margin: 0;
}

.place__image {
  max-width: 460px;
  max-height: 460px;
  margin: 48px 40px 0 0;
  box-shadow: 10px 10px 25px #00000080;
}

.place__website {
}

.place__url-heading {
}

.place__artist {
}

.place__paragraph {
}

.place__frame {
}
