.place__website {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 93%;
  margin: 107px 0 0;
  grid-column: 2;
  grid-row: 1;
}

.place__website_short {
  margin: 85px 0 0;
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 100%;
    margin: 0;
  }

  .places__place:nth-child(3) .place__website {
    margin: 47px 0 0;
  }
}

@media screen and (max-width: 544px) {
  .place__website {
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    margin: 30px auto;
  }

  .places__place:nth-child(3) .place__website {
    margin: 30px auto;
  }
}
