.places {
  max-width: 987px;
  padding: 62px 0 33px;
  margin: 0 auto;
}

.places__place {
  max-width: 99.6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 48px 40px;
}

.place__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 93%;
  /* margin: 0; */
  grid-column: 1;
  grid-row: 1;
}

.place__image {
  max-width: 460px;
  max-height: 460px;
  /* margin: 48px 40px 0 0; */
  box-shadow: 10px 10px 25px #00000080;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.place__website {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 93%;
  /* margin: 85px 0 48px 40px; */
  grid-column: 2;
  grid-row: 1;
}

.place__url-heading {
  font-size: 12px;
  line-height: 100%;
  color: #aaaaaa;
  /* margin: 0 0 8px; */
}

.place__artist {
  font-size: 18px;
  line-height: 1.2;
  /* margin: 0; */
}

.place__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  max-width: 49%;
}

.place__paragraph_first {
  grid-column: 2;
  grid-row: 2;
}

.place__paragraph_second {
  grid-column: 2;
  grid-row: 3;
}

.place__frame {
  max-width: 32%;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  padding: 13px 20px;
  grid-column: 1;
  grid-row: 4;
}
