.place__website {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 93%;
  margin: 107px 0 0;
  grid-column: 2;
  grid-row: 1;
}

.place__website_short {
  margin: 85px 0 0;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  color: #aaaaaa;
  margin: 0 0 8px;
}

.place__artist {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}
