.places {
  max-width: 987px;
  padding: 62px 0 33px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    padding: 58px 0 30px;
    margin: 0 auto;
  }

  .places__place {
    max-width: 100%;
    margin: 0 0 47px;
  }

  .places__place:nth-child(2) .place__title,
  .places__place:nth-child(3) .place__title,
  .places__place:nth-child(4) .place__title {
    margin-top: 0px;
  }

  .place__title {
    font-family: "Inter", sans-serif;
    font-size: 42px;
    line-height: 1;
    margin: 22px 28px 0 0;
    width: 100%;
  }

  .place__image {
    max-width: 340px;
    max-height: 340px;
    margin: 48px 28px 0 0;
  }

  .places__place:nth-child(2) .place__image_shadow_black {
    box-shadow: 10px 0 25px rgba(0, 0, 0, 0.5);
  }

  .place__website {
    max-width: 100%;
    margin: 0;
  }

  .places__place:nth-child(3) .place__website {
    margin: 47px 0 0;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__frame {
    margin: 48px 0 0;
    max-width: 69%;
  }

  .footer {
    padding: 13px 0 25px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 100%;
    padding: 52px 0 10px;
  }

  .places__place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    max-width: 100%;
    margin: 0 0 50px;
  }

  .place__title {
    grid-column: 1;
    grid-row: 1;
    max-width: 90%;
    font-size: 32px;
    line-height: 1;
    margin: 0 auto;
  }

  .place__image {
    grid-column: 1;
    grid-row: 3;
    max-width: 100%;
    max-height: 320px;
    margin: 0 0 5px;
  }

  .place__website {
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    margin: 30px auto;
  }

  .places__place:nth-child(3) .place__website {
    margin: 30px auto;
  }

  .place__description {
    grid-column: 1;
    grid-row: 4;
    max-width: 90%;
    margin: 0 auto;
  }

  .place__paragraph {
    margin: 25px 0 0;
  }

  .place__frame {
    grid-column: 1;
    grid-row: 5;
    max-width: 90%;
    margin: 30px auto 0;
  }
}
