.place__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 93%;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-family: "Inter", sans-serif;
    font-size: 42px;
    line-height: 1;
    margin: 22px 28px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .place__title {
    grid-column: 1;
    grid-row: 1;
    max-width: 90%;
    font-size: 32px;
    line-height: 1;
    margin: 0 auto;
  }
}
