.places {
  max-width: 987px;
  padding: 62px 0 33px;
  margin: 0 auto;
}

.places__place {
}

.place__title {
}

.place__image {
}

.place__website {
}

.place__url-heading {
}

.place__artist {
}

.place__paragraph {
}

.place__frame {
}
