.place__description {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 48px 0 0;
}

@media screen and (max-width: 544px) {
  .place__description {
    grid-column: 1;
    grid-row: 4;
    max-width: 90%;
    margin: 0 auto;
  }
}
