.place__image {
  max-width: 460px;
  max-height: 460px;
  margin: 48px 40px 0 0;
  box-shadow: 10px 10px 25px #00000080;
  grid-column: 1 / 2;
  grid-row: 2;
}

.place__image:hover {
  opacity: 0.5;
}

.place__image_space_short {
  margin: 48px 37px 0 0;
}

.place__image_shadow_black {
  box-shadow:
    -5px 0 0 rgba(0, 0, 0, 0.3),
    10px 0 25px rgba(0, 0, 0, 0.5);
}
