.place {
  max-width: 99.6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto) 1fr;
  margin: 0 auto 80px;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 100%;
    margin: 0 0 47px;
  }

  .place:nth-child(2) .place__title,
  .place:nth-child(3) .place__title,
  .place:nth-child(4) .place__title {
    margin-top: 0px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    max-width: 100%;
    margin: 0 0 50px;
  }
}
