.place__frame {
  max-width: 61%;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  padding: 13px 20px;
  margin: 48px 0 0;
  grid-column: 1;
  grid-row: 3;
  box-shadow: 5px 5px 10px #00000040;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.place__frame:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px #00000040;
}
